### Exercise 14: Create some array and dictionary to create Pandas series

In [3]:
import numpy as np
import pandas as pd

labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10,'b':20,'c':30}

print ("Labels:", labels)
print("My data:", my_data)
print("Dictionary:", d)

Labels: ['a', 'b', 'c']
My data: [10, 20, 30]
Dictionary: {'a': 10, 'b': 20, 'c': 30}

### Exercise 15: Creating a Pandas Series

In [4]:
s1=pd.Series(data=my_data)
print(s1)

0    10
1    20
2    30
dtype: int64

In [5]:
s2=pd.Series(data=my_data, index=labels)
print(s2)

a    10
b    20
c    30
dtype: int64

In [6]:
s3=pd.Series(arr, labels)
print(s3)

a    10
b    20
c    30
dtype: int32

In [7]:
s4=pd.Series(d)
print(s4)

a    10
b    20
c    30
dtype: int64

### Exercise 16: Pandas series can hold many types of data

In [8]:
print ("\nHolding numerical data\n",'-'*25, sep='')
print(pd.Series(arr))
print ("\nHolding text labels\n",'-'*20, sep='')
print(pd.Series(labels))
print ("\nHolding functions\n",'-'*20, sep='')
print(pd.Series(data=[sum,print,len]))
print ("\nHolding objects from a dictionary\n",'-'*40, sep='')
print(pd.Series(data=[d.keys, d.items, d.values]))

Holding numerical data
-------------------------
0    10
1    20
2    30
dtype: int32

Holding text labels
--------------------
0    a
1    b
2    c
dtype: object

Holding functions
--------------------
0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

Holding objects from a dictionary
----------------------------------------
0    <built-in method keys of dict object at 0x0000...
1    <built-in method items of dict object at 0x000...
2    <built-in method values of dict object at 0x00...
dtype: object

### Exercise 17: Creating Pandas DataFrame

In [9]:
matrix_data = np.random.randint(1,10,size=20).reshape(5,4)
row_labels = ['A','B','C','D','E']
column_headings = ['W','X','Y','Z']

df = pd.DataFrame(data=matrix_data, index=row_labels, columns=column_headings)
print("\nThe data frame looks like\n",'-'*45, sep='')
print(df)

The data frame looks like
---------------------------------------------
   W  X  Y  Z
A  4  9  4  2
B  9  8  9  5
C  9  1  9  7
D  3  2  5  2
E  1  2  6  2

In [10]:
d={'a':[10,20],'b':[30,40],'c':[50,60]}
df2=pd.DataFrame(data=d,index=['X','Y'])
print(df2)

    a   b   c
X  10  30  50
Y  20  40  60

### Exercise 18: Viewing a DataFrame partially

In [11]:
# 25 rows and 4 columns
matrix_data = np.random.randint(1,100,100).reshape(25,4)
column_headings = ['W','X','Y','Z']
df = pd.DataFrame(data=matrix_data,columns=column_headings)

In [12]:
df.head()

    W   X   Y   Z
0  15  60  51  53
1   3  48   8   9
2  39  13   8  53
3  90  33  52  61
4  70   6  33  40

In [13]:
df.head(10)

    W   X   Y   Z
0  15  60  51  53
1   3  48   8   9
2  39  13   8  53
3  90  33  52  61
4  70   6  33  40
5  56  49  78  74
6  92  43  88  41
7  31  48  82  22
8  71   4  36   5
9  10   9   3   4

In [14]:
df.tail(8)

     W   X   Y   Z
17  72  26  30  74
18  95   3  67  12
19  25  63  74  21
20  14  11  86  38
21  77  86  97  90
22  73  16  69   6
23  38  88  14  72
24  71  17  33   1

### Exercise 19: Indexing and slicing (columns)

In [15]:
print("\nThe 'X' column\n",'-'*25, sep='')
print(df['X'])
print("\nType of the column: ", type(df['X']), sep='')
print("\nThe 'X' and 'Z' columns indexed by passing a list\n",'-'*55, sep='')
print(df[['X','Z']])
print("\nType of the pair of columns: ", type(df[['X','Z']]), sep='')

The 'X' column
-------------------------
0     60
1     48
2     13
3     33
4      6
5     49
6     43
7     48
8      4
9      9
10     6
11    74
12     6
13    12
14    99
15    38
16    18
17    26
18     3
19    63
20    11
21    86
22    16
23    88
24    17
Name: X, dtype: int32

Type of the column: <class 'pandas.core.series.Series'>

The 'X' and 'Z' columns indexed by passing a list
-------------------------------------------------------
     X   Z
0   60  53
1   48   9
2   13  53
3   33  61
4    6  40
5   49  74
6   43  41
7   48  22
8    4   5
9    9   4
10   6  24
11  74  56
12   6   8
13  12  14
14  99  64
15  38  73
16  18  65
17  26  74
18   3  12
19  63  21
20  11  38
21  86  90
22  16   6
23  88  72
24  17   1

Type of the pair of columns: <class 'pandas.core.frame.DataFrame'>

### Exercise 20: Indexing and slicing (rows)

In [16]:
matrix_data = np.random.randint(1,10,size=20).reshape(5,4)
row_labels = ['A','B','C','D','E']
column_headings = ['W','X','Y','Z']

df = pd.DataFrame(data=matrix_data, index=row_labels, columns=column_headings)
print("\nLabel-based 'loc' method can be used for selecting row(s)\n",'-'*60, sep='')
print("\nSingle row\n")
print(df.loc['C'])
print("\nMultiple rows\n")
print(df.loc[['B','C']])
print("\nIndex position based 'iloc' method can be used for selecting row(s)\n",'-'*70, sep='')
print("\nSingle row\n")
print(df.iloc[2])
print("\nMultiple rows\n")
print(df.iloc[[1,2]])

Label-based 'loc' method can be used for selecting row(s)
------------------------------------------------------------

Single row

W    9
X    2
Y    3
Z    6
Name: C, dtype: int32

Multiple rows

   W  X  Y  Z
B  4  2  2  3
C  9  2  3  6

Index position based 'iloc' method can be used for selecting row(s)
----------------------------------------------------------------------

Single row

W    9
X    2
Y    3
Z    6
Name: C, dtype: int32

Multiple rows

   W  X  Y  Z
B  4  2  2  3
C  9  2  3  6

### Exercise 21: Creating and deleting a (new) column (or row)

In [17]:
print("\nA column is created by assigning it in relation to an existing column\n",'-'*75, sep='')
df['New'] = df['X']+df['Z']
df['New (Sum of X and Z)'] = df['X']+df['Z']
print(df)
print("\nA column is dropped by using df.drop() method\n",'-'*55, sep='')
df = df.drop('New', axis=1) # Notice the axis=1 option, axis = 0 is default, so one has to change it to 1
print(df)
df1=df.drop('A')
print("\nA row (index) is dropped by using df.drop() method and axis=0\n",'-'*65, sep='')
print(df1)
print("\nAn in-place change can be done by making inplace=True in the drop method\n",'-'*75, sep='')
df.drop('New (Sum of X and Z)', axis=1, inplace=True)
print(df)

A column is created by assigning it in relation to an existing column
---------------------------------------------------------------------------
   W  X  Y  Z  New  New (Sum of X and Z)
A  2  1  7  1    2                     2
B  4  2  2  3    5                     5
C  9  2  3  6    8                     8
D  5  5  2  5   10                    10
E  7  8  4  9   17                    17

A column is dropped by using df.drop() method
-------------------------------------------------------
   W  X  Y  Z  New (Sum of X and Z)
A  2  1  7  1                     2
B  4  2  2  3                     5
C  9  2  3  6                     8
D  5  5  2  5                    10
E  7  8  4  9                    17

A row (index) is dropped by using df.drop() method and axis=0
-----------------------------------------------------------------
   W  X  Y  Z  New (Sum of X and Z)
B  4  2  2  3                     5
C  9  2  3  6                     8
D  5  5  2  5                    10
E  7  8  4  9                    17

An in-place change can be done by making inplace=True in the drop method
---------------------------------------------------------------------------
   W  X  Y  Z
A  2  1  7  1
B  4  2  2  3
C  9  2  3  6
D  5  5  2  5
E  7  8  4  9